* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
}

body {
    font-weight: 400;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.button {
    background: white;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    min-width: 169px;
    padding: 24px 12px;
    border-radius: 8px;
    box-shadow: 0 -5px 0 #FFF;
}

.left-button {
    background: #18CFAB;
}

.right-button {
    background: #00CBF6;
}

h1 {
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px;
}



/* Header */
header {
    background: rgba(94, 93, 88, 0.6);
    position: absolute;
    width: 100vw;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Logo */

.logo-wrapper {
    padding: 26px 0;
    display: flex;
    align-items: center;
}

.logo {
    width: 58px;
    height: 34px;
    color: #FFFFFF;
    text-align: center;
    line-height: 31px;
    font-weight: 700;
    font-size: 40px;
    background: #18CFAB;
    position: relative;
}

.logo:before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-bottom: 16px solid #18CFAB;
}

.logo:after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-top: 16px solid #18CFAB;
}

/* Logo-text */
.logo-text {
    color: #FFF;
    font-size: 32px;
    line-height: 48px;
    padding-left: 6px;
}

.logo-text span {
    color: #18CFAB;
    font-weight: 700;
}

/* Menu */
.menu-items {
    display: flex;
}

.menu-link {
    font-weight: 700;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    line-height: 25px;
    align-items: center;
    padding-left: 21px;
    position: relative;

}


.menu-link::after {
    content: "";
    position: absolute;
    bottom: -42px;
    left: 10px;
    width: 100%;
    height: 4px;
    background-color: #18CFAB;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
}

.menu-link:hover::after {
    transform: scaleX(1);
}

.header-section {
    background: url(./img/1page.jpg) no-repeat center/cover;
    background-attachment: fixed;
    text-align: center;
    margin-bottom: 8px;
    width: 100vw;
    height: 1012px;

}

.first-text-header {
    color: white;
    text-transform: uppercase;
    padding-top: 379px;
    font-weight: 700;
    font-size: 35px;
}

.first-text-header span {
    color: #18CFAB;
}

.second-text-header {
    font-size: 34px;
    color: #D4D4D4;
    text-transform: capitalize;
}

.heder-section-buttons {
    width: 362px;
    margin: 0 auto;
    padding-top: 134px;
    display: flex;
    justify-content: space-between;
}

.button {
    color: #FFFFFF;
}

.section-box {
    display: flex;
}

.box-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 377px;
    width: 100%;
    font-weight: 700;
    line-height: 24px;

}

.first-box-item {
    background: #1C2A33;

}

.first-box-item_text {
    color: #18CFAB;
    margin-top: 48px;
}

.second-box-item {
    background: #18CFAB;
}

.second-box-item_text {
    color: white;
    margin-top: 58px;
}

.third-box-item {
    background: #1C2A33;
}

.third-box-item_text {
    color: #18CFAB;
    margin-top: 48px;
}

.four-box-item {
    background: #18CFAB;

}

.four-box-item_text {
    color: white;
    margin-top: 58px;
}

/* Services */

.services-section {
    position: relative;
}


.services-section h2 {
    text-align: center;
    padding-top: 83px;
    padding-bottom: 101px;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}

.services-section h2:before {
    content: '';
    width: 76px;
    position: absolute;
    border: 1px solid #18CFAB;
    top: 150px;
    left: 50%;
    transform: translateX(-60%);
}

.services-section h2:after {
    height: 1px;
    content: '';
    width: 80px;
    position: absolute;
    border: 1px solid #18CFAB;
    top: 155px;
    right: 50%;
    transform: translateX(60%);
    border-radius: 10%;
}

.services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.services-items {
    padding-bottom: 23px;
    display: flex;
}



.services-item {
    padding: 30px 0;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    color: #717171;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    min-width: calc(1160px / 6);
    justify-content: center;

}



.services-item:hover {
    border: 1.5px solid #18CFAB;
}

.services-item.active {
    background-color: #18CFAB;
    color: #FFF;
    position: relative;
}

.services-item.active:after {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    bottom: -5px;
    background-color: #18CFAB;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}




.services-item-title {
    display: flex;
}

.items-content-img {
    display: block;
    width: 192px;
    height: 139px;
    padding-right: 14px;
}

.items-content-text {
    display: block;
    width: 952px;
    height: 136px;
    font-weight: 300;
    font-size: 14.645px;
    line-height: 24px;
    color: #717171;

}



.buy_and_install-section {
    margin-top: 90px;
    background: url(./img/Buyandinstalbg.jpg) no-repeat center/cover;
    width: 100vw;
    height: 476px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.sup-buy-text {
    text-transform: uppercase;
    padding-top: 127px;
    font-weight: 700;
    font-size: 40px;
    line-height: 41px;
    color: #18CFAB;
    text-align: center;
}

.sub-buy-text {
    padding-top: 13px;
    font-weight: 400;
    font-size: 16px;
    color: #D8D8D8;
    text-align: center;
}

.buy_and_install-button {
    margin-top: 67px;
    background-color: #18CFAB;
}

/* Work */
.work-section {
    background: #E9EDEF;
    padding: 100px 0;
}

h2 {
    font-size: 36px;
    color: #4E4E4E;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-bottom: 100px;
}

h2.white {
    color: #FFF;
}

.work-text-title:before {
    content: '';
    width: 78px;
    position: absolute;
    border: 1px solid #18CFAB;
    top: 56px;
    left: 50%;
    transform: translateX(-60%);
}

.work-text-title:after {
    content: '';
    width: 78px;
    position: absolute;
    border: 1px solid #18CFAB;
    top: 60px;
    right: 50%;
    transform: translateX(60%);
}

.work-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-items {
    display: flex;
    padding-bottom: 70px;
}


.work-item {
    padding: 21px 15px;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    color: #717171;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    min-width: 80px;
    justify-content: center;
}

.work-item:hover,
.work-item.active {
    border: 1.5px solid #18CFAB;
}


.work-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 70px;
}

.work-box-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.work-box-row.inactive {
    display: none;
}

.work-box-item {
    display: inline-block;
    width: 285px;
    height: 206px;
    overflow: hidden;
    position: relative;
}


.work-box-item-details {
    width: 100%;
    height: 100%;
    background-color: #E9EDEF;
    border-top: 2px solid #18CFAB;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    color: white;
    display: none;
    text-align: center;
}

.work-box-item:hover .work-box-item-details {
    display: inline-block;
    top: 0;
    left: 0;
}

.work-box-item-details-links {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.item-link {
    border: 1px solid #18CFAB;
    border-radius: 30px;
    padding: 12px;
    width: 40px;
    height: 40px;
    margin-right: 3px;
}

.item-link:hover {
    background-color: #18CFAB;
}

.icon-chain {
    background: url(./img/icons/icon-chain.svg) no-repeat center;
}

.icon-chain:hover {
    background-image: url(./img/icons/icon-chain-white.svg);
}

.item-link>span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    height: 13px;
    border: 2px solid #18CFAB;
}

.item-link:hover>span {
    display: flex;
    background-color: #FFF;
    border: none;
    width: 13px;
    height: 13px;
}


.item-details-title {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 40px;
}

.item-details-subtitle {
    font-weight: 300;
    font-size: 12px;
    color: #8A8A8A;
    margin-top: 13px;
}

.button-loader {
    background: #18CFAB;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFF;
    display: inline-block;
    min-width: 168px;
    padding: 22px 0 22px 22px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.button-loader:before {
    content: '+';
    position: absolute;
    left: 22px;
    font-size: 25px;
}


/* News */

.news-section {
    background: #FFFFFF;
    padding: 82px 0;
}


.news-title:before {
    content: '';
    width: 78px;
    position: absolute;
    border: 1px solid #18CFAB;
    top: 56px;
    left: 50%;
    transform: translateX(-60%);
}

.news-title:after {
    content: '';
    width: 78px;
    position: absolute;
    border: 1px solid #18CFAB;
    top: 61px;
    right: 50%;
    transform: translateX(60%);
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
}

.item-news {
    width: 265px;
    height: 281px;
    position: relative;
    margin-bottom: 44px;
}

.title-news {
    color: #717171;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    padding-top: 4px;
    padding-left: 21px;
}

.item-news:hover .title-news {
    color: #18CFAB;
}


.autor-news,
.coments-news {
    color: #777777;
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    padding-top: 4px;
    padding-left: 18px;

}

.autor-news::after {
    content: "|";
    padding-left: 18px;

}

.news-date {
    color: #FFFFFF;
    position: absolute;
    width: 70px;
    height: 68px;
    top: 0;
    right: 2px;
    background-color: #203E38;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px;

}

.item-news:hover .news-date {
    background-color: #18CFAB;
}

.about-section {
    background: url(./img/aboutbg.jpg) no-repeat center/cover;
    width: 100vw;
    height: 853px;
    padding: 98px 0;
}

.about-section h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;

    color: #FFFFFF;
}


.about-section h2:before {
    content: '';
    width: 78px;
    position: absolute;
    border: 1px solid #18CFAB;
    top: 56px;
    left: 50%;
    transform: translateX(-60%);
}

.about-section h2:after {
    content: '';
    width: 78px;
    position: absolute;
    border: 1px solid #18CFAB;
    top: 61px;
    right: 50%;
    transform: translateX(60%);
}


.shapes {
    display: block;
    margin: 0 auto;
    width: 47px;
    height: 33px;

}

.slider-for {
    text-align: center;
    margin-bottom: 50px;
}

.item {
    height: 350px;
    margin-bottom: 20px;
}

.item-text {
    margin-top: 36px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.item-autor {
    text-transform: uppercase;
    margin-top: 37px;
    color: #18CFAB;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    align-items: center;
}

.autor-job {
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
    margin-top: 18px;
    margin-bottom: 38px;

}

.item_img {
    width: 142px;
    height: 142px;
    margin: 0 auto;
    border: 6px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
}

.slider-naw-container {

    width: 100%;
    overflow: hidden;
}

.slider-naw {
    display: flex;
    justify-content: space-around;
    position: relative;
    transition: transform 0.5s ease;
    width: 300px;

}


.item-naw img {
    width: 100%;
    height: auto;
}

.slider-naw-container {
    display: flex;
    justify-content: center;
    text-align: center;

}


.slider-naw img {

    border: 6px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 13px auto;
}

.slider-naw img:hover {
    cursor: pointer;
    transform: translateY(-13px);
}

.slider-naw-container {
    position: relative;
}

.slider-btn-prev {
    background: none;
    width: 35px;
    height: 35px;
    margin-top: 30px;
    border: none;

}

.slider-btn-prev:hover {
    color: white;
    background-color: #18CFAB;
}

.slider-btn-next {
    background: none;
    margin-top: 30px;
    width: 35px;
    height: 35px;
    border: none;
}

.slider-btn-next:hover {
    color: white;
    background-color: #18CFAB;
}

.footer {
    margin: 0;
    padding: 0;
    height: 121px;
    width: 100%;
    background-color: #22353F;
}

.footer-text {
    text-align: center;
}

.footer-text p {
    padding-top: 48px;
    color: #AEAEAE;
}

.footer-text span {
    color: #18CFAB;
}